body {
    background-color:rgb(17, 17, 33);
    color:white;
}
hr {
    border-color:rgb(26,24,49);
}
header {
    display:flex;
    justify-content:space-between;
}

#basketballOnFire {
    height:80px;
    width:80px;
}

.leftHeader {
    display:flex;
    align-items:center;
    gap:20px;
}

.rightHeader {
    display:flex;
    align-items:center;
    gap:30px;
    margin-right:2%;
}

#nbaStatsTitle {
    font-size:24px;
    font-family:fantasy;
}

#headerSearchBar {
    background-color:rgb(35,36,70);
    width:200px;
    height:30px;
    border-radius:12px;
    border:transparent;
    padding-top:5px;
    padding-bottom:5px;
}

#signInButton, #registerButton {
    font-family:'Times New Roman', Times, serif;
    border-radius:12px;
    height:40px;
    width:80px;
    border:transparent;
}

#signInButton {
    background-color:rgb(25,26,230);
    color:white;
}

#registerButton {
    background-color:rgb(34, 30, 90);
    color:white;
}

.mainPictureSection {
    display:flex;
    justify-content:center;
}

.randomPlayerContainer {
    border-radius:10px;
    height:700px;
    width:1300px;
    margin-top:2%;
    position:relative;
    border-color:transparent;
}

#randomPlayerWallpaper {
    height:100%;
    width:100%;
    border-radius:15px;
    object-fit:cover;
    opacity:0.7;
    border:1px solid white;
}

.findAndCompareTitle {
    position:absolute;
    top:66%;
    left:3.4%;
    color:white;
    font-size:50px;
    font-family:"Be Vietnam Pro", "Noto Sans", sans-serif;
    font-weight:bold;

}

.searchBar {
    position:absolute;
    top:80%;
    left:3%;
    width:600px;
    display:flex;
    justify-content:space-between;
    background-color:rgb(26,27,49);
    border:2px solid rgb(60,59,91);
    border-radius:15px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:4px;
}

.leftPartSearchBar {
    display:flex;
    align-items:center;
    padding-left:30px;
    gap:20px;
}

.leftPartSearchBar img {
    height:30px;
    width:30px;
}

.leftPartSearchBar #searchField {
    border-color:transparent;
    background-color:rgb(26,27,49);
    outline:none;
    caret-color:rgb(60,59,91);
    font-size:20px;
}

#searchField:focus, #searchField:valid {
    color:white;
}


#searchButton {
    font-size:20px;
    width:120px;
    background-color:rgb(25,26,230);
    border:transparent;
    border-radius:15px;
    color:white;
    padding:20px;
}

.popular-players-section {
    margin:0 auto;
    width:1500px;
    border:3px solid red;
    margin-top:4%;
}

#popular-players-title {
    font-family:"Be Vietnam Pro", "Noto Sans", sans-serif;
    font-size:35px;
}

.popular-players-container {
    border:1px solid yellow;
    width:1400px;
    gap:20px;
    display:flex;
    flex-wrap:wrap;
}

.popular-player-button {
    height:40px;
    width:fit-content;
    background-color:rgb(34,39,69);
    color:rgb(140, 139, 168);
    border-radius: 10px;
    border:transparent;
    font-size:20px;
}